body {
  margin: 0;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
  cursor: none;
}

#follower {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: blueviolet;
  border-radius: 50%;
  pointer-events: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#follower:hover {
  background-color: rebeccapurple;